:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 24px;
  }
.wrapper {
  width: 600px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(250, 235, 215, 0.5);
}
.m-30 {
  margin: 30px;
}
.m-10 {
  margin: 10px;
}
