<div class="players">
    @for (player of players; track player.id) {
        <p class="player" [class.ready]="player.status === 'ready'">{{ player.username }}</p>
    }
</div>
<div class="buttons">
    @if (isHost) {
        <button (click)="start()" disabled>Start game</button>
    }
    @if (currentStatus === 'notready') {
        <button (click)="markAs('ready')">I am ready</button>
    }
    @if (currentStatus === 'ready') {
        <button (click)="markAs('notready')">I am not ready</button>
    }
    <button (click)="leave()">Leave game</button>
</div>