<div class="settings">
  <h1>Настройки пользователя</h1>
  <div class="wrapper">
    <p>{{message}}</p>
  </div>
  <div class="wrapper-red">
    <p>{{error}}</p>
  </div>
  <div class="text-left m-t-20">
    <label for="id">Отображаемое имя: </label>
    <input id="id" placeholder="введите имя" [(ngModel)]="username"/>
  </div>
  <div class="text-left m-t-20">

<!--    <input type="file" class="file-upload" name="avatarUrl" (change)="onFileSelected($event)" onchange="console.log(event.target.files)">-->


    <div class="file-upload">
      <label for="id">Аватар:&nbsp;</label>
      <input type="file" class="file-input"
             (change)="onFileSelected($event)" #fileUpload>
      <button color="primary" class="upload-btn"
              (click)="fileUpload.click()">Загрузить аватар
      </button>
      @if (fileName) {
        <div class="img-center m-t-20"><img class="avatar" width="200" src="{{ fileName }}"/></div>
      }
    </div>
  </div>
</div>
<button (click)="save()">Сохранить</button>
