:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.m-t-20 {
  margin-top: 20px;
}
.file-input {
  display: none;
}

.settings {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 600px;
  align-items: center;
  background-color: rgba(250, 235, 215, 0.5);
}