<canvas id="canvas" (contextmenu)="$event.preventDefault()"></canvas>
<div class="buttons">
  <img src="images/interface/panel-sm.png" alt="">
  <div class="actions">
    <div class="action"
         [ngClass]="{'disable': disableButton()}"
         (mousedown)="atack($event)"></div>
    <div class="action"
         [ngClass]="{'disable': disableButton()}"
         (mousedown)="heal($event)"></div>
    <div class="action"
         [ngClass]="{'disable': disableButton()}"
         (mousedown)="destroy($event)"></div>
  </div>
</div>
<div *ngIf="game.gameOver" class="gameOver">
  <div class="text">Вы проиграли</div>
  <button class="return" (click)="return()">Вернуться в лобби</button>
</div>
